<template>
  <div>
      This is a Dashboard. Checkout the Navigation.
  </div>
</template>

<script>
export default {
 components:{
        
    },
    methods:{
      
    }
}
</script>

<style>

</style>
