<template>
  <div class="">
        <h1>Login</h1>
        <form v-on:submit="tryToLogIn">
           <md-field>
            <label>Email</label>
            <md-input v-model="email" type="text"></md-input>
            <!-- <span class="md-helper-text">Email</span> -->
           </md-field>
           <md-field>
            <label>Password</label>
            <md-input v-model="password" type="password"></md-input>
            <!-- <span class="md-helper-text">Email</span> -->
           </md-field>
            <md-button v-on:click="tryToLogIn" class="md-raised md-primary">Login</md-button>
        </form>
        <datatable baseUrl='/api/parties' object="party"></datatable>
    </div>
</template>

<script>
import { authMethods } from '../state/helpers';
import datatable from './datatable/datatable.vue'
export default {
    components:{
        'datatable':datatable
    },
    data:function () {
    return {
        email:"",
        password:"",
        tryingToLogIn:'',
        authError:''
    }},
    mounted(){
        
    },
    methods:{
        ...authMethods,
        tryToLogIn() {
      this.tryingToLogIn = true
      // Reset the authError if it existed.
      this.authError = null
      return this.logIn({
        username: this.email,
        password: this.password,
        
      })
        .then(token => {
          this.tryingToLogIn = false
          this.redirectHome()
        })
        .catch(error => {
          this.tryingToLogIn = false
          this.authError = error
        })
    },
    redirectHome(){
        this.$router.push('/home')
    }
    }
}
</script>

<style>

</style>
