<template>
  
</template>

<script>
import { authMethods } from '../state/helpers';
export default {
    methods:{
    ...authMethods
    },
    mounted(){
        this.logOut();
        this.$router.push('/');
        console.log('Logged Out');
    }
}
</script>

<style>

</style>
