<template>
    <div>
        <form novalidate class="md-layout" @submit.prevent="validateObject">
             <div class="md-layout md-gutter">
                <div class="md-layout-item">
                    <div :key="column.name" v-for="column in object.columns" v-if="!column.readOnly">
                        <md-field v-if="column.type == 'text'">     
                                <label for="column.name">{{column.label}}</label>
                                <md-input name="column.name" id="column.name" v-model="object[column.name]" :disabled="sending" />
                        </md-field>
                        <md-autocomplete 
                            v-model="object[column.name].name" 
                            :md-options="searchData"
                            @md-changed="searchColumn(column)" 
                            @md-opened="searchColumn(column)"
                            @md-selected='selectedRow'
                            v-if="column.hasOwnProperty('relation')">
                            <label>{{column.label}}</label>
                            <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.name }}</template>
                        </md-autocomplete>
                        <md-datepicker
                            v-model="object[column.name]"
                            v-if="column.type == 'datetime-local'" >
                            <label>{{column.label}}</label>
                        </md-datepicker>
                    </div>
                    <md-button class="md-raised md-primary" @click="object.save()">Save</md-button>
                    <md-button class="md-raised md-accent" @click="$router.go(-1)">Cancel</md-button>
                </div>
             </div>
        </form>
    </div>
</template>

<script>
class Form{

}
export default {
    props:['object'],
    data:()=>({
        sending:false,
        form:null,
        searchData:[],
        currentFormItem:null
    }),
    methods:{
        ifError(column){
            var colName=column.name; 
            console.log((this.object.colName==null));
            return (this.object.colName==null);
        },
        searchColumn(column){
            this.currentFormItem=column.name;
            this.searchData =[];
            column.relation.search(this.object[column.name].name).then((response)=>{
                    this.searchData = response;
            })
        },
        selectedRow(item){
            this.object[this.currentFormItem].name = item.name;
            this.object[this.currentFormItem].id = item.id;
        },
        validateObject()
        {
            this.object.save();
        }
    },
    created(){
        if(this.$route.params.hasOwnProperty('id')){
          this.object.get(this.$route.params.id);
      }
    }
}
</script>

<style>

</style>
