<template>
  <div>
      <md-progress-bar md-mode="indeterminate" v-if="this.dt.loading"></md-progress-bar>
      <md-table v-model="dt.data" md-sort="name" md-sort-order="asc" @md-selected="onSelect" md-fixed-header>
      <md-table-toolbar>
        <h1 class="md-title"><router-link :to="{ path: 'create'}" append>Create</router-link> </h1>
        <md-field md-clearable class="md-toolbar-section-end">
          <md-input placeholder="Search ..." v-model="search" @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state
        md-label="No results found"
        :md-description="`No result found for this '${search}' query. Try a different search term or create new.`">
        <md-button class="md-primary md-raised" @click="newObject()">
            Create New
        </md-button>
      </md-table-empty-state>
      <md-table-row  slot="md-table-row" slot-scope="{ item }" selectable="single">
          <slot v-bind:itemRow="item" name="row"></slot>
      </md-table-row>
    </md-table>
    
    <div class="md-layout ">
        <div class="md-layout-item  md-alignment-center-left">
        <md-button class="md-icon-button md-raised" style="float:right;" :disabled="!this.dt.hasPrevious()" @click="previous()">
            <md-icon class="md-size-2x  ">navigate_before</md-icon>
        </md-button>
        </div>
        <div class="md-layout-item  md-alignment-center-right">
        <md-button class="md-icon-button md-raised " :disabled="!this.dt.hasNext()" @click="next()">
            <md-icon class="md-size-2x ">navigate_next</md-icon>
        </md-button>
        </div>  
    </div>
    
  </div>
</template>

<script>
import router from '@/routes.js'
class DataTable {
    constructor(object)
    {
        this.data=[];
        this.url = object.url;
        this.object = object;
        this.lastResponse =null;
        this.getData(1);
        this.loading = false;
    }
    hasPrevious()
    {
        if(this.lastResponse == null ){ return false;}
        if(this.lastResponse.data.prev_page_url==null){return false;}
        return true;
    }
    hasNext()
    {
        if(this.lastResponse == null ){ return false;}
        if(this.lastResponse.data.next_page_url==null){return false;}
        return true;
    }
    getData(page){
        this.loading=true;
        this.object.getPage(page)
        .then((response) => {
            this.lastResponse = response;
            if(response.data.length!=0){
             response.data.data.forEach((element,index)=>{
                 this.data.push(element);
             });
            }
             this.loading=false;
        })
        .catch((error)=> {
            console.log(error);
            this.loading=false;
        });
    }
    search(term){
        this.loading=true;
        this.object.datatableSearch(term).then((response)=>{
                this.data = response.data.data;
                this.lastResponse = response;
                this.loading=false;
        })
        .catch((error)=>{
            this.loading=false;
        });
    }
    previous()
    {
        axios.get(this.lastResponse.data.prev_page_url).then((response)=>{
                this.data = response.data.data;
                this.lastResponse = response;
        })
        .catch((error)=>{

        });
    }
    next()
    {
        axios.get(this.lastResponse.data.next_page_url).then((response)=>{
                this.data = response.data.data;
                this.lastResponse = response;
        })
        .catch((error)=>{

        });
    }
}
export default {
    props:['object'],
    data:()=>({
            dt : null,
            search: null,
            selected: null,
            currentPage: 0,
    }),
    methods:{
        newObject () {
            this.$router.push({ path: 'create', append: true });
        },
        searchOnTable () {
            this.dt.search(this.search);
        },
        onSelect (item) {
            this.selected = item
        },
        viewItem(id){
            this.$router.append("/"+id)
        },
        next(){
            this.dt.next()
        },
        previous(){
            this.dt.previous()
        }

    },
    created () {
      this.dt = new DataTable(this.object)
    },
    
}
</script>

<style>

</style>
