<template>
    <div>
        <form-view v-bind:object="this.party_type"></form-view>
    </div>
</template>

<script>
import PartyType from '@/models/PartyType.js'
import Form from '@/components/form/form.vue'
export default {
  components:{
    'form-view':Form,
  },
  data:()=>({
    party_type:new PartyType(),
  }),
  created(){
      if(this.$route.path.split('/').slice('-1').pop() == 'create'){
          this.party_type.selfReference();
        }
  }
}
</script>

<style>

</style>
