<template>
  <div>
    <datatable v-bind:object="this.party_type">
    <template slot="row" slot-scope="item">
           <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.itemRow.id }}</md-table-cell>
           <md-table-cell md-label="Name" md-sort-by="name">{{ item.itemRow.name }}</md-table-cell>
           <md-table-cell md-label="Parent" md-sort-by="created_at" v-if="item.itemRow.party_type != null">
               {{ item.itemRow.party_type.name }}
            </md-table-cell>
            <md-table-cell v-if="item.itemRow.party_type == null">No Parent</md-table-cell>
           <md-table-cell md-label="Actions"> 
               <md-button @click="viewItem(item.itemRow.id)">
                   <md-icon>pageview</md-icon>
                </md-button>
            </md-table-cell>
    </template>
  </datatable>
  </div>
</template>

<script>
import datatable from '@/components/datatable/datatable.vue'
import PartyType from '@/models/PartyType.js'
export default {
 components:{
        'datatable':datatable
    },
    data:()=>({
        party_type: new PartyType(),
    }), 
    methods:{
      viewItem(id){
            this.$router.push("/party_types/"+id)
        }
    }
}
</script>

<style>

</style>
