<template>
    <div>
        <form-view v-bind:object="this.party"></form-view>
    </div>
</template>

<script>
import Party from '@/models/Party.js'
import Form from '@/components/form/form.vue'
export default {
  components:{
    'form-view':Form,
  },
  data:()=>({
    party:new Party(),
  }),
  created(){
      if(this.$route.params.hasOwnProperty('id')){
          this.party.get(this.$route.params.id);
      }
  }
}
</script>

<style>

</style>
