<template>
  <div>
    <datatable v-bind:object="this.object">
    <template slot="row" slot-scope="item">
           <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.itemRow.id }}</md-table-cell>
           <md-table-cell md-label="Value" md-sort-by="name">{{ item.itemRow.value }}</md-table-cell>
           <md-table-cell md-label="Issued From" md-sort-by="from">{{ item.itemRow.from.name }}</md-table-cell>
           <md-table-cell md-label="Issued To" md-sort-by="to">{{ item.itemRow.to.name }}</md-table-cell>
           <md-table-cell md-label="Valid Begin" md-sort-by="begin">{{ item.itemRow.begin }}</md-table-cell>
           <md-table-cell md-label="Valid End" md-sort-by="end">{{ item.itemRow.end }}</md-table-cell>
           <md-table-cell md-label="Identifier" md-sort-by="party_identifier_id">{{ item.itemRow.party_identifier.name }}</md-table-cell>
           <md-table-cell md-label="Actions"> 
               <md-button @click="viewItem(item.itemRow.id)">
                   <md-icon>pageview</md-icon>
                </md-button>
            </md-table-cell>
    </template>
  </datatable>
  </div>
</template>

<script>
import datatable from '@/components/datatable/datatable.vue'
import PartyIdentifierValue from '@/models/PartyIdentifierValue.js'
export default {
  data:()=>({
    object:new PartyIdentifierValue(),
  }),
 components:{
        'datatable':datatable
    },
    methods:{
      viewItem(id){
            this.$router.push("/party_identifier_values/"+id)
        }
    },
    created(){
        
    }
}
</script>

<style>

</style>
