<template>
    <div>
        <form-view v-bind:object="this.object"></form-view>
    </div>
</template>

<script>
import PartyIdentifierValue from '@/models/PartyIdentifierValue.js'
import Form from '@/components/form/form.vue'
export default {
  components:{
    'form-view':Form,
  },
  data:()=>({
    object:new PartyIdentifierValue(),
  }),
  created(){
      if(this.$route.params.hasOwnProperty('id')){
          this.object.get(this.$route.params.id);
      }
  }
}
</script>

<style>

</style>
