<template>
  <div>
    <datatable v-bind:object="this.object">
    <template slot="row" slot-scope="item">
           <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.itemRow.id }}</md-table-cell>
           <md-table-cell md-label="Name" md-sort-by="name">{{ item.itemRow.name }}</md-table-cell>
           <md-table-cell md-label="Issued By" md-sort-by="issued_by">{{ item.itemRow.issued_by.name }}</md-table-cell>
           <md-table-cell md-label="Actions"> 
               <md-button @click="viewItem(item.itemRow.id)">
                   <md-icon>pageview</md-icon>
                </md-button>
            </md-table-cell>
    </template>
  </datatable>
  </div>
</template>

<script>
import datatable from '@/components/datatable/datatable.vue'
import PartyIdentifier from '@/models/PartyIdentifier.js'
export default {
  data:()=>({
    object:new PartyIdentifier(),
  }),
 components:{
        'datatable':datatable
    },
    methods:{
      viewItem(id){
            this.$router.push("/party_identifiers/"+id)
        }
    },
    created(){
        
    }
}
</script>

<style>

</style>
